img
{
    max-height: 12rem;
}


#container {
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    height: 100vh;
}

.section {
    min-width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}